{% extends "layout.html" %}
{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Team</th>
        <th scope="col">Position</th>
        <th scope="col">Height_inches</th>
        <th scope="col">Weight_lbs</th>
        <th scope="col">Age</th>
    </tr>
    </thead>
    <tbody>
    {% for mlb in %}
    <tr>
        <td>{{ mlb.fldName }}</td>
        <td>{{ mlb.fldTeam }}</td>
        <td>{{ mlb.fldPosition }}</td>
        <td>{{ mlb.fldHeight }}</td>
        <td>{{ mlb.fldWeight }}</td>
        <td>{{ mlb.fldAge }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}