{% extends "layout.html" %}
{% block content %}
<form action="/app/template/new.html" method="POST">
    <div class="row">
        <div class="col">
            <label for="fldName">Player Name</label>
            <input id="fldName" type="text" class="form-control" placeholder="Player Name" name="fldName">
        </div>
        <div class="col">
            <label for="fldTeam">Team Name</label>
            <input id="fldTeam" type="text" class="form-control" placeholder="Team Name"
                   name="fldTeam">
        </div>
        <div class="col">
            <label for="fldPosition">City Country</label>
            <input id="fldPosition" type="text" class="form-control" placeholder="Position" name="fldPosition">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="fldHeight">Height in Inches</label>
            <input id="fldHeight" type="text" class="form-control" placeholder="Height in Inches" name="fldHeight">
        </div>
        <div class="col">
            <label for="fldWeight">Weight in LBS</label>
            <input id="fldWeight" type="text" class="form-control" placeholder="Weight in LBS" name="fldWeight">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="fldAge">Ages</label>

            <input id="fldAge" type="text" class="form-control" placeholder="Age"
                   name="fldAge">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Success</button>

</form>

{% endblock %}